---
spring:
  h2:
    console:
      enabled: true
  jpa:
    generate-ddl: true
  boot:
    admin:
      client:
        url: "http://localhost:8080"
management:
  endpoints:
    web:
      exposure:
        include: '*'