---
spring:
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
  jpa:
    generate-ddl: true
management:
  endpoints:
    web:
      exposure:
        include: '*'
server:
  port: ${PORT:8080}